@import "./global.scss";
@import "./variable.scss";
.header {
    background-image: linear-gradient(135deg, #2e89dd 0%, #330867 100%);
    height: 76px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    @include flexbox(center);
    &__main {
        @include flexbox(center, space-between);
    }
    &__logo {
        @include size(60px);
        @include flexbox(center, space-between);
        &-img {
            object-fit: cover;
        }
        span {
            font-size: 3rem;
            color: #fff;
            margin-left: 5px;
        }
    }
    &__search {
        position: relative;
        overflow: hidden;
        &-box {
            outline: none;
            border: 1px solid #ccc;
            background-color: rgba(255, 255, 255, 0.705);
            color: $while-color;
            border-radius: 20px;
            padding: 8px;
            width: 100px;
            transition: 0.3s;
            &:focus {
                background-color: $while-color;
                width: 300px;
            }
        }
        &-btn {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border: none;
            outline: none;
            border: 1px solid #ccc;
            border-left: none;
            border-radius: 0 20px 20px 0;
            color: $while-color;
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        }
    }
    &__menu {
        @include flexbox(center, space-between);
        &-item {
            margin-left: 25px;
            //position: relative;
            transition: all 0.25s linear;
            &--sub:hover {
                .header__category {
                    display: flex;
                    // transform-origin: 50% top;
                    animation: headerSubNav 0.7s;
                    max-height: 380px;
                    // transition: max-height 0.3s linear;
                }
            }
        }
        &-link {
            font-size: $fsz-m;
            color: $while-color;
            padding: 12px 3px;
            &:hover {
                color: rgb(231, 231, 231);
            }
        }
    }
    &__category {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: $blue-color;
        width: 100%;
        max-height: 0;
        padding: 10px;
        overflow: hidden;
        &-list {
            display: flex;
            flex-wrap: wrap;
        }
        &-title {
            margin-left: $gap;
            font-size: $fsz-m;
            color: #ffffffc0;
            display: block;
            position: relative;
            margin-bottom: 15px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 1px;
                width: 80%;
                background-color: #bdbdbd;
            }
        }
        &-item {
            width: calc((100% / 6) - 3px);
            margin-bottom: 8px;
        }
        &-link {
            padding: 12px;
            font-size: $fsz-m;
            color: $while-color;
            display: block;
            white-space: nowrap;
            transition: all 0.3s;
            border-radius: 5px;
            &:hover {
                background-color: #6161ff8c;
                // border-radius: 20px 0 0 20px;
            }
        }
    }
}

.search {
    margin-top: 100px;
    @include flexbox(stretch, center);
    &__input {
        border: 1px solid #ccc;
        outline: none;
        background-color: rgb(37, 37, 37);
        padding: 10px;
        color: $while-color;
    }
    &__btn {
        background-color: #fff;
        padding: 8px;
        border: none;
        outline: none;
    }
}

.slider {
    @include flexbox(center, space-between);
    margin-top: 78px;
    &__img {
        height: 545px;
        object-fit: cover;
    }
}

.content {
    margin-top: 110px;
}

.movie {
    @include flexbox(stretch, space-between);
    &__heading {
        @include flexbox(center, space-between);
        &-title {
            font-size: $fsz-l;
            color: #ffbb00;
            span {
                color: $while-color;
                padding: 4px 16.8px;
                border-radius: 50%;
                text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
                background-image: linear-gradient(120deg, #ff2857 0%, #ff68bb 100%);
            }
        }
    }
    &__list {
        @include flexbox(stretch, flex-start, wrap);
        margin-top: 40px;
        margin-left: -56px;
    }
    &__item {
        position: relative;
        max-width: 140px;
        margin-bottom: 50px;
        margin-left: 56px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        transition: all 0.35s ease-in;
        // overflow: hidden;
        &-name {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            padding: 10px;
            text-align: center;
            font-size: $fsz-m;
            color: rgb(255, 255, 255);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: rgba(68, 187, 255, 0.582);
            border-radius: 0 0 5px 5px;
            transition: 0.5s;
        }
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 10px 35px -15px rgb(30, 255, 60);
            .movie__item-name {
                // bottom: -20px;
                box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5);
                white-space: inherit;
            }
            .movie__item-avt {
                img {
                    opacity: 0.8;
                }
            }
        }
        &-avt {
            object-fit: cover;
            img {
                border-radius: 5px;
                height: 223.5px;
            }
        }
        &-category {
            position: absolute;
            top: -2px;
            left: 0;
            padding: 8px 16px 8px 8px;
            border-radius: 0 0 25px 0;
            color: $while-color;
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            box-shadow: 2px 2px 3px 0px rgba(0 0 0 /75%);
            z-index: 1;
        }
        &-evaluate {
            margin-top: 12px;
            width: 70px;
        }
    }
    &__more {
        display: block;
        font-size: $fsz-m;
        padding: 14px;
        // color: $while-color;
        text-align: center;
        background-color: rgb(245, 245, 245);
        margin-bottom: 54px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.bar {
    min-width: 330px;
    margin-left: 60px;
    &__title {
        display: block;
        font-size: 3.2rem;
        padding: 8px;
        color: $while-color;
        background-color: #3e66d7;
        border-radius: 3px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    &__list {
        margin-top: 12px;
        padding: 8px 0;
        max-height: 600px;
        overflow: auto;
        border-right: none;
        background-color: rgb(15, 15, 15);
        border-radius: 3px;
        &::-webkit-scrollbar {
            width: 5px;
            background-color: #41396d;
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #ffffff9d;
            border-radius: 3px;
        }
    }
    &__item {
        margin-inline: 12px;
        &-link {
            padding: 5px 10px;
            @include flexbox(stretch, flex-start);
            transition: 0.3s;
            &:hover {
                background-color: rgba(65, 65, 65, 0.3);
                border-radius: 5px;
            }
        }
        &-img {
            height: 70px;
            width: auto;
        }
        &-desc {
            margin: 6px 0 6px 12px;
        }
        &-name {
            font-size: 1.6rem;
            margin-bottom: 12px;
            color: $while-color;
        }
        &-evaluate {
            width: 80px;
            font-size: 1.4rem;
            font-weight: 400;
            color: $gray-color;
            i {
                margin-left: 5px;
                color: $primary-color;
            }
        }
    }
    &__tag {
        padding-top: 20px;
        @include flexbox(stretch, space-between, wrap);
        border: 1px solid #ccc;
        &-link {
            font-size: $fsz-s;
            background-color: #333;
            text-decoration: underline;
            color: $while-color;
            padding: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: rgb(27, 27, 27);
    padding: 50px 0 0;
    &__social {
        text-align: center;
        &-item {
            font-size: $fsz-l;
            color: #ddd;
            margin: 0 12px;
            &:hover {
                color: rgba(204, 204, 204, 0.808);
            }
        }
    }
    &__inner {
        @include flexbox(stretch, space-between);
        margin-bottom: 25px;
    }
    &__contact {
        &-category {
            display: block;
            color: $while-color;
            font-size: $fsz-m;
            padding: 8px 0;
        }
        &-desc {
            margin-top: 12px;
        }
        &-item {
            padding: 8px 0;
        }
        &-link {
            color: #ccc;
            font-size: $fsz-s;
        }
    }
}

@import "./responsive.scss";