$primary-color: rgb(255, 213, 27);
$blue-color: #3b5998;
$while-color: #fff;
$shadow-color: rgba(136, 165, 191, 0.48) 0px 2px 20px -3px,
rgba(255, 255, 255, 0.8) 0px -2px 20px -3px;
$dark-color: #001;
$fsz-s: 1.4rem;
$fsz-m: 1.6rem;
$fsz-l: 4.2rem;
$gap: 20px;